<title>Admin Login</title>

<head>
  <%= stylesheet_link_tag "stylesheets/style.css" %>
</head>
<body>
  <div id="form_wrapper">
    <%= form_for(:session, url: login_path) do |f| %> 
      <%= f.text_field :username, :placeholder => "Username" %> 
      <%= f.password_field :password, :placeholder => "Password" %> 
      <%= f.submit "Log in", class: "btn-submit" %>
    <% end %>
  </div>
</body>