:css
  .header{
    font-weight: bold;
    text-align: center;
  }
  .title{
    font-weight: bold;
    font-size: 75px;
    text-align: center;
  }
  .center_wrapper{
    text-align: center;
  }
  
  .fileInput{
    text-align:center;
  }
%h1 Upload New Print

= form_for @print, :html => {:multipart => true}  do |f|

  = f.label :uin, 'UIN'
  %br
  = f.text_field :uin
  %br
  %br
  = f.file_field :file
  %br
  %br
  = f.label :note, 'Note'
  %br
  = f.field_text :note
  %br
  = f.submit 'Upload'
  %br
  = link_to 'Add new student', new_student_path
