.center_wrapper
  %h1 Upload New Print
  = form_for @print, :html => {:multipart => true}  do |f|
   
    = f.label :uin, 'UIN'
    %inline{:style => 'color: red'} *
    %br
    = f.text_field :uin
    %br
    %br
    %div(align="middle")
      = f.file_field :file
    %br
    %br
    = f.label :note, 'Note'
    %br
    = f.text_area :note, :placeholder => 'Insert a custom note about your print here...'
    %br
    %br
    = f.submit 'Upload'
  %br
  %p{:style => 'color: red'} * required
  %br
  = link_to'Add new student', new_student_path, {:style=>'color:yellow;'}
