<!DOCTYPE html>
<html>
<head>
  <title>3d Printing Management</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="navbar-left">
          <a class="nav-link" href="/prints/new">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="navbar-left">
          <a class="nav-link" href="/students">Students</a>
        </li>
        <li class="navbar-left">
          <a class="nav-link" href="/prints/queue">Prints</a>
        </li>
        <% if current_admin %>
        <li class="navbar-right">
          <%= link_to "Log out", logout_path, method: "delete" %>
        </li>
         <li class="navbar-right">
          <a class="nav-link" href="/login"> <%= current_admin.username %> </a>
        </li>
        <% else %>
          <li class="navbar-right">
            <a class="navbar-right" href="/signup"> Register</a>
          </li>
          <li class="navbar-right">
            <a class="nav-link" href="/login"> Login</a>
          </li>
      </ul>
      <% end %>
  </div>
  </nav>
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, class: "alert alert-#{message_type}" do -%>
    <%= message %>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <% end -%>
  <% end %>

<%= yield %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
</body>
</html>
